html {
	overflow-y: scroll;
}

.assistant {
	font-family: "Assistant";
}
.comfortaa {
	font-family: "Comfortaa";
}

.site-title {
	text-shadow: 0 1px hsla(0,0%,100%,.25);
}

/***********
	Layout
***********/

.layout__site-menu {
	overflow: hidden;
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.site-menu-list--mobile-hidden {
	display: none;
}

.layout__body {
	padding-top: 3rem;
}

@media (min-width: 55rem) {
	.layout__site-menu {
		display: block;
		position: fixed;
		bottom: 0;
		width: 15rem;
	}

	.layout__site-menu-inner {
		height: 100%;
		overflow-y: scroll;
		margin-right: -50px; /* Hide scrollbar */
	}

	.layout__body {
		margin-left: 15rem;
		padding-top: 0;
	}
}

/***********
	Site menu
***********/

.site-menu-list {
	border-top: 1px solid;
	border-top-color: #ddd;
}

.site-menu-link {
	border-left: 4px solid;
	border-left-color: transparent;
	transition: font-weight .25s ease-in-out, border-left-color .25s ease-in-out;
}

.site-menu-link--active {
	border-left-color: #3270B9;
}

@media (min-width: 54rem) {
	.site-menu-list {
		display: block;
		border-top: 0px;
		width: 15rem;
	}

	.site-menu-header {
		border-bottom: 1px solid;
		border-bottom-color: #ddd;
	}

	.show-site-menu-button {
		display: none;
	}
}

.padding-example {
    background-image: linear-gradient(to bottom, #ccc 0%, #ccc 100%), linear-gradient(to bottom, #777 0%, #777 100%);
    background-clip: content-box, padding-box;
}