/***********

***********
	Colors
***********

blue: #408fec;
dark-blue: #3270B9;
darker-blue: #234E81;
red: #c73434;
dark-red: #AB2D2D;
darker-red: #942727;
green: #393;
dark-green: #277527;
darker-green: #206120;
light-grey: #ddd;
lighest-grey: #fcfcfc;
grey: #ccc;
dark-grey: #777;
darker-grey: #586069;
light-purple: #f7f7f9;
silver: #e3e7ef;


***********/

/***********************
------------------------
------------------------
	Generic and Reset
------------------------
------------------------
***********************/

/* https://www.padding-allulirish.com/2012/box-sizing-border-box-ftw/ */

html {
	box-sizing: border-box;
	line-height: 1.2;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after {
	box-sizing: inherit;
}

* {
	padding: 0;
	margin: 0;
}

body {
	font-size: 1rem;
	font-family: -apple-system,BlinkMacSystemFont,Arial,sans-serif;
}

/***********************
------------------------
------------------------
	Elements
------------------------
------------------------
***********************/

ul {
	list-style-type: none;
}

blockquote {
	padding-left: 1rem;
	border-left: .25rem solid #777;
}

input, select, textarea, fieldset, label, legend, optgroup, option, output {
	width: 15rem;
}

fieldset {
	border: none;
}

button:active, button:focus {
	outline: none;
}

/***********************
------------------------
------------------------
	Objects
------------------------
------------------------
***********************/

/***********
	Code
***********/

.code {
	font-size: 87.5%;
	line-height: inherit;
	font-family: monospace;
	word-break: break-word;
	white-space: normal;
}

.preformatted {
	display: block;
}

.preformatted .code {
	font-size: inherit;
	white-space: normal;
	white-space: pre-wrap;
}

/***********
	Lists
***********/

.bulleted-list {
	list-style-type: disc;
	line-height: 1.5;
}

.bulleted-list li li {
	list-style-type: circle;
}

.bulleted-list li li li {
	list-style-type: square;
}

.inline-list li {
	display: inline-block;
}

/***********************
------------------------
------------------------
	Components
------------------------
------------------------
***********************/

/***********
	Alerts
***********/
.alert {
	padding: 1rem;
	border: 1px solid;
	border-color: #ccc;
	border-radius: .25rem;
	color: inherit;
	display: block;
}

.alert--green {
	background-color: #393;
	border-color: #393;
	color: white;
}

.alert--blue {
	background-color: #408fec;
	border-color: #408fec;
	color: white;
}

.alert--red {
	background-color: #c73434;
	border-color: #c73434;
	color: white;
}

/***********
	Buttons
***********/
.button {
	padding: .5rem;
	cursor: pointer;
	background: white;
	border: 1px solid;
	border-color: #ccc;
	border-radius: .25rem;
	color: inherit;
	font-size: .85rem;
	display: inline-block;
}

.button:active, .button:focus {
	outline: none;
}

.button--large {
	padding: 1rem;
	font-size: 1rem;
}

.button--small {
	padding: .25rem;
	font-size: .75rem;
}

.button--block {
	display: block;
	width: 100%;
}

.button:disabled {
	opacity: .65;
	cursor: not-allowed;
}

/***********
	Button animations
***********/
.button--shift-on-hover {
	transition: 0.2s;
}

.button--shift-on-hover:hover {
	transform: translateY(-2px);
}

/***********
	Button Group
***********/
.button-group .button {
	border-radius: 0;
}

.button-group .button:not(:first-child) {
	border-left: none;
}

.button-group .button:first-child {
	border-bottom-left-radius: .25rem;
	border-top-left-radius: .25rem;
}

.button-group .button:last-child {
	border-bottom-right-radius: .25rem;
	border-top-right-radius: .25rem;
}

/***********
	Button Themes
***********/
.button--outline {
	background-color: white;
	border-color: #ccc;
	color: #586069;
	transition: 0.2s;
}

.button--outline:not(:disabled):hover {
	box-shadow: 0 0 0 2px rgba(89, 105, 128, 0.1) inset, 0 1px 4px 0 rgba(89, 105, 128, 0.1) inset, 0 1px 3px 0 rgba(0, 0, 0, 0.05);
}

.button--outline:not(:disabled):active {
	box-shadow: 0 0 0 3px rgba(89, 105, 128, 0.2) inset, 0 1px 3px 0 rgba(89, 105, 128, 0.1) inset;
}

.button--blue {
	background-color: #408fec;
	border-color: #408fec;
	color: white;
	transition: 0.2s;
}

.button--blue:not(:disabled):hover {
	background-color: #3270B9;
	border-color: #3270B9;
}

.button--blue:not(:disabled):active {
	background-color: #234E81;
	border-color: #234E81;
}

.button--red {
	background-color: #c73434;
	border-color: #c73434;
	color: white;
	transition: 0.2s;
}

.button--red:not(:disabled):hover {
	background-color: #AB2D2D;
	border-color: #AB2D2D;
}

.button--red:not(:disabled):active {
	background-color: #942727;
	border-color: #942727;
}

.button--green {
	background-color: #393;
	border-color: #393;
	color: white;
	transition: 0.2s;
}

.button--green:not(:disabled):hover {
	background-color: #277527;
	border-color: #277527;
}

.button--green:not(:disabled):active {
	background-color: #206120;
	border-color: #206120;
}

/***********
	Dropdown Component
***********/
.dropdown {
	position: absolute;
	top: 100%;
	white-space: nowrap;
	visibility: hidden;
	opacity: 0;
	transition: 0.333s;
}

.dropdown__container {
	position: relative;
	display: inline-block;
}

.dropdown__container--align-center .dropdown {
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}

.dropdown__container--align-left .dropdown {
	left: 0%;
}

.dropdown__container--align-right .dropdown {
	right: 0%;
}

.dropdown__container--shown-on-hover:hover .dropdown, .dropdown__container--shown-on-click.dropdown__container--open .dropdown {
	opacity: 1;
	visibility: visible;
	will-change: opacity;
}

.dropdown__container--shown-on-hover.dropdown__container--shift-animation.dropdown__container--align-center:hover .dropdown, .dropdown__container--shown-on-click.dropdown__container--shift-animation.dropdown__container--align-center.dropdown__container--open .dropdown {
	-webkit-transform: translateX(-50%) translateY(0);
	-moz-transform: translateX(-50%) translateY(0);
	-ms-transform: translateX(-50%) translateY(0);
	-o-transform: translateX(-50%) translateY(0);
	transform: translateX(-50%) translateY(0);
}

.dropdown__container--align-center.dropdown__container--shift-animation .dropdown {
	-webkit-transform: translateX(-50%) translateY(-10px);
	-moz-transform: translateX(-50%) translateY(-10px);
	-ms-transform: translateX(-50%) translateY(-10px);
	-o-transform: translateX(-50%) translateY(-10px);
	transform: translateX(-50%) translateY(-10px);
}

.dropdown__container--shown-on-hover.dropdown__container--shift-animation.dropdown__container--align-left:hover .dropdown, .dropdown__container--shown-on-hover.dropdown__container--shift-animation.dropdown__container--align-right:hover .dropdown, .dropdown__container--shown-on-click.dropdown__container--shift-animation.dropdown__container--align-left.dropdown__container--open .dropdown, .dropdown__container--shown-on-click.dropdown__container--shift-animation.dropdown__container--align-right.dropdown__container--open .dropdown {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}

.dropdown__container--align-right.dropdown__container--shift-animation .dropdown, .dropdown__container--align-left.dropdown__container--shift-animation .dropdown {
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	-ms-transform: translateY(-10px);
	-o-transform: translateY(-10px);
	transform: translateY(-10px);
}

/***********
	Forms
***********/
.form-input {
	padding: .5rem;
	font-size: inherit;
	border-radius: .2rem;
	border: 1px solid;
	border-color: #ccc;
	color: inherit;
	box-shadow: 0 0 0 1px rgba(89, 105, 128, 0.1), 0 1px 3px 0 rgba(89, 105, 128, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.form-input:focus, .form-input:active {
	outline: none;
	border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(64,143,236,.2);
}

.form-input::placeholder {
	color: #777;
	opacity: 0.8;
}

.form-label {
	font-weight: bold;
	margin-bottom: .5rem;
	display: inline-block;
}

/***********************
------------------------
------------------------
	Trumps and tools
------------------------
------------------------
***********************/

.float-left {
	float: left;
}

.float-right {
	float: right;
}

/***********************
------------------------
	Aesthetic
------------------------
***********************/

/***********
	Backgrounds
***********/
.background-color-white {
	background-color: #fff;
}

.background-color-green {
	background-color: #393;
}

.background-color-dark-green {
	background-color: #277527;
}

.background-color-darker-green {
	background-color: #206120;
}

.background-color-red {
	background-color: #c73434;
}

.background-color-dark-red {
	background-color: #AB2D2D;
}

.background-color-darker-red {
	background-color: #942727;
}

.background-color-blue {
	background-color: #408fec;
}

.background-color-dark-blue {
	background-color: #3270B9;
}

.background-color-darker-blue {
	background-color: #234E81;
}

.background-color-grey {
	background-color: #ccc;
}

.background-color-light-grey {
	background-color: #ddd;
}

.background-color-lightest-grey {
	background-color: #fcfcfc;
}

.background-color-dark-grey {
	background-color: #777;
}

.background-color-darker-grey {
	background-color: #586069;
}

.background-color-light-purple {
	background-color: #f7f7f9;
}

.background-color-silver {
	background-color: #e3e7ef;
}

.background-color-inherit {
	background: inherit;
}

/***********
	Fill
***********/
.fill-white {
	fill: white;
}

/***********
	Borders
***********/
.borderless {
	border: none;
}

.border-all {
	border: 1px solid;
}

.border-left {
	border-left: 1px solid;
}

.border-bottom {
	border-bottom: 1px solid;
}

.border-right {
	border-right: 1px solid;
}

.border-top {
	border-top: 1px solid;
}

/***********
	Border colors
***********/
.border-color-white {
	border-color: #fff;
}

.border-color-green {
	border-color: #393;
}

.border-color-dark-green {
	border-color: #277527;
}

.border-color-darker-green {
	border-color: #206120;
}

.border-color-red {
	border-color: #c73434;
}

.border-color-dark-red {
	border-color: #AB2D2D;
}

.border-color-darker-red {
	border-color: #942727;
}

.border-color-blue {
	border-color: #408fec;
}

.border-color-dark-blue {
	border-color: #3270B9;
}

.border-color-darker-blue {
	border-color: #234E81;
}

.border-color-grey {
	border-color: #ccc;
}

.border-color-light-grey {
	border-color: #ddd;
}

.border-color-lightest-grey {
	border-color: #fcfcfc;
}

.border-color-dark-grey {
	border-color: #777;
}

.border-color-darker-grey {
	border-color: #586069;
}

.border-color-light-purple {
	border-color: #f7f7f9;
}

.border-color-silver {
	border-color: #e3e7ef;
}

.border-color-inherit {
	border-color: inherit;
}

.border-color-transparent {
	border-color: transparent;
}

/***********
	Border radius
***********/
.border-radius-all {
	border-radius: .25rem;
}

.border-bottom-left-radius {
	border-bottom-left-radius: .25rem;
}

.border-bottom-right-radius {
	border-bottom-right-radius: .25rem;
}

.border-top-right-radius {
	border-top-right-radius: .25rem;
}

.border-top-left-radius {
	border-top-left-radius: .25rem;
}

.border-left-radius {
	border-bottom-left-radius: .25rem;
	border-top-left-radius: .25rem;
}

.border-bottom-radius {
	border-bottom-left-radius: .25rem;
	border-bottom-right-radius: .25rem;
}

.border-right-radius {
	border-bottom-right-radius: .25rem;
	border-top-right-radius: .25rem;
}

.border-top-radius {
	border-top-right-radius: .25rem;
	border-top-left-radius: .25rem;
}

/***********
	Box shadow
***********/
.box-shadow {
	box-shadow: 0 0 0 1px rgba(89, 105, 128, 0.1), 0 1px 3px 0 rgba(89, 105, 128, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.box-shadow-inset {
	box-shadow: 0 0 0 1px rgba(89, 105, 128, 0.1) inset, 0 1px 3px 0 rgba(89, 105, 128, 0.1) inset, 0 1px 2px 0 rgba(0, 0, 0, 0.05) inset;
}

.box-shadow-subtle {
	box-shadow: 0 1px 3px rgba(0,0,0,.075);
}

/***********************
------------------------
	Typography
------------------------
***********************/

/***********
	Color
***********/
.color-white {
	color: white;
}

.color-green {
	color: #393;
}

.color-dark-green {
	color: #277527;
}

.color-darker-green {
	color: #206120;
}

.color-red {
	color: #c73434;
}

.color-dark-red {
	color: #AB2D2D;
}

.color-darker-red {
	color: #942727;
}

.color-blue {
	color: #408fec;
}

.color-dark-blue {
	color: #3270B9;
}

.color-darker-blue {
	color: #234E81;
}

.color-grey {
	color: #ccc;
}

.color-light-grey {
	color: #ddd;
}

.color-lightest-grey {
	color: #fcfcfc;
}

.color-dark-grey {
	color: #777;
}

.color-darker-grey {
	color: #586069;
}

.color-light-purple {
	color: #f7f7f9;
}

.color-silver {
	color: #e3e7ef;
}

.color-inherit {
	color: inherit;
}

/***********
	Font weight
***********/
.bold {
	font-weight: bold;
}

.bold-on-hover:hover {
	font-weight: bold;
}

.font-weight-normal {
	font-weight: normal;
}

/***********
	Font size
***********/
.small {
	font-size: .85rem;
}

.medium {
	font-size: .9rem;
}

.regular {
	font-size: 1rem;
}

/***********
	Text decoration
***********/
.underline {
	text-decoration: underline;
}

.underline-on-hover:hover {
	text-decoration: underline;
}

.no-decoration {
	text-decoration: none;
}

.no-decoration-on-hover:hover {
	text-decoration: none;
}

/***********
	Text transform
***********/
.uppercase {
	text-transform: uppercase;
}

.lowercase {
	text-transform: lowercase;
}

.capitalize {
	text-transform: capitalize;
}

/***********
	Line height
***********/
.line-height-normal {
	line-height: normal;
}

.line-height-1p5 {
	line-height: 1.5;
}

/***********
	Text align
***********/
.text-align-center {
	text-align: center;
}

.text-align-left {
	text-align: left;
}

.text-align-right {
	text-align: right;
}

/***********
	Cursor
***********/
.cursor-pointer {
	cursor: pointer;
}

/***********************
------------------------
	Layout
------------------------
***********************/

.centered {
	margin-left: auto;
	margin-right: auto;
}

/***********
	Position
***********/
.fixed {
	position: fixed;
}

.absolute {
	position: absolute;
}

.relative {
	position: relative;
}

.static {
	position: static;
}

.sticky {
	position: sticky;
}

/***********
	Display
***********/
.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.inline {
	display: inline;
}

.display-table {
	display: table;
}

.hidden {
	display: none;
}

/***********
	Visibility
***********/
.visible {
	visibility: visible;
}

.invisible {
	visibility: hidden;
}

/***********
	Widths
***********/

.width-1 {
	width: 4rem;
}

.width-2 {
	width: 8rem;
}

.width-3 {
	width: 16rem;
}

.width-4 {
	width: 32rem;
}

.width-5 {
	width: 64rem;
}

.width-6 {
	width: 128rem;
}

.max-width-1 {
	max-width: 4rem;
}

.max-width-2 {
	max-width: 8rem;
}

.max-width-3 {
	max-width: 16rem;
}

.max-width-4 {
	max-width: 32rem;
}

.max-width-5 {
	max-width: 64rem;
}

.max-width-6 {
	max-width: 128rem;
}