/***********

***********
	Colors
***********

blue: #408fec;
red: #c73434;
green: #393;
light-grey: #ddd;
lighest-grey: #fcfcfc;
grey: #777;
dark-grey: #ccc;
darker-grey: #586069;
light-purple: #f7f7f9;
silver: #e3e7ef;


***********/

/***********************
------------------------
------------------------
	Generic and Reset
------------------------
------------------------
***********************/

/* https://www.padding-allulirish.com/2012/box-sizing-border-box-ftw/ */

html {
	box-sizing: border-box;
	line-height: 1.2;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after {
	box-sizing: inherit;
}

* {
	padding: 0;
	margin: 0;
}

body {
	font-size: 1rem;
	font-family: -apple-system,BlinkMacSystemFont,Arial,sans-serif;
}

/***********************
------------------------
------------------------
	Elements
------------------------
------------------------
***********************/

ul {
	list-style-type: none;
}

blockquote {
	padding-left: 1rem;
	border-left: .25rem solid #777;
}

/***********************
------------------------
------------------------
	Objects
------------------------
------------------------
***********************/

/***********
	Code
***********/

.code {
	font-size: 87.5%;
	font-family: monospace;
	word-break: break-word;
}

.preformatted {
	display: block;
}

.preformatted .code {
	font-size: inherit;
	color: inherit;
	word-break: normal;
}

/***********
	Lists
***********/

.bulleted-list {
	list-style-type: disc;
	line-height: 1.5;
}

.bulleted-list li li {
	list-style-type: circle;
}

.bulleted-list li li li {
	list-style-type: square;
}

.inline-list li {
	display: inline-block;
}

/***********************
------------------------
------------------------
	Components
------------------------
------------------------
***********************/

/***********
	Buttons
***********/

.button {
	padding: .5rem;
	cursor: pointer;
	background: white;
	border: 1px solid;
	border-color: #ccc;
	border-radius: .25rem;
	color: inherit;
	font-size: .85rem;
	display: inline-block;
}

.button--large {
	padding: 1rem;
	font-size: 1rem;
}

.button--small {
	padding: .25rem;
	font-size: .75rem;
}

.button--block {
	display: block;
	width: 100%;
}

/***********
	Button Group
***********/
.button-group .button {
	border-radius: 0;
}

.button-group .button:not(:first-child) {
	border-left: none;
}

.button-group .button:first-child {
	border-bottom-left-radius: .25rem;
	border-top-left-radius: .25rem;
}

.button-group .button:last-child {
	border-bottom-right-radius: .25rem;
	border-top-right-radius: .25rem;
}

/***********************
------------------------
------------------------
	Trumps and tools
------------------------
------------------------
***********************/

/***********
	Colors
***********/
.color-white {
	color: white !important;
}

.color-green {
	color: #393 !important;
}

.color-red {
	color: #c73434 !important;
}

.color-blue {
	color: #408fec !important;
}

.color-grey {
	color: #777 !important;
}

.color-light-grey {
	color: #ddd !important;
}

.color-lightest-grey {
	color: #fcfcfc !important;
}

.color-dark-grey {
	color: #ccc !important;
}

.color-darker-grey {
	color: #586069 !important;
}

.color-light-purple {
	color: #f7f7f9 !important;
}

.color-silver {
	color: #e3e7ef !important;
}

.color-inherit {
	color: inherit !important;
}

/***********
	Backgrounds
***********/
.background-color-white {
	background-color: #fff !important;
}

.background-color-green {
	background-color: #393 !important;
}

.background-color-red {
	background-color: #c73434 !important;
}

.background-color-blue {
	background-color: #408fec !important;
}

.background-color-grey {
	background-color: #777 !important;
}

.background-color-light-grey {
	background-color: #ddd !important;
}

.background-color-lightest-grey {
	background-color: #fcfcfc !important;
}

.background-color-dark-grey {
	background-color: #ccc !important;
}

.background-color-darker-grey {
	background-color: #586069 !important;
}

.background-color-light-purple {
	background-color: #f7f7f9 !important;
}

.background-color-silver {
	background-color: #e3e7ef !important;
}

.background-color-inherit {
	background: inherit !important;
}

/***********
	Borders
***********/

.borderless {
	border: none;
}

.border-all {
	border: 1px solid;
}

.border-left {
	border-left: 1px solid;
}

.border-bottom {
	border-bottom: 1px solid;
}

.border-right {
	border-right: 1px solid;
}

.border-top {
	border-top: 1px solid;
}

/***********
	Border colors
***********/
.border-color-white {
	border-color: #fff;
}

.border-color-green {
	border-color: #393;
}

.border-color-red {
	border-color: #c73434;
}

.border-color-blue {
	border-color: #408fec;
}

.border-color-grey {
	border-color: #777;
}

.border-color-light-grey {
	border-color: #ddd;
}

.border-color-lightest-grey {
	border-color: #fcfcfc;
}

.border-color-dark-grey {
	border-color: #ccc;
}

.border-color-darker-grey {
	border-color: #586069;
}

.border-color-light-purple {
	border-color: #f7f7f9;
}

.border-color-silver {
	border-color: #e3e7ef;
}

.border-color-inherit {
	border-color: inherit;
}

.border-color-transparent {
	border-color: transparent;
}

/***********
	Border radius
***********/
.border-radius-all {
	border-radius: .25rem;
}

.border-bottom-left-radius {
	border-bottom-left-radius: .25rem;
}

.border-bottom-right-radius {
	border-bottom-right-radius: .25rem;
}

.border-top-right-radius {
	border-top-right-radius: .25rem;
}

.border-top-left-radius {
	border-top-left-radius: .25rem;
}

.border-left-radius {
	border-bottom-left-radius: .25rem;
	border-top-left-radius: .25rem;
}

.border-bottom-radius {
	border-bottom-left-radius: .25rem;
	border-bottom-right-radius: .25rem;
}

.border-right-radius {
	border-bottom-right-radius: .25rem;
	border-top-right-radius: .25rem;
}

.border-top-radius {
	border-top-right-radius: .25rem;
	border-top-left-radius: .25rem;
}

/***********
	Box shadow
***********/
.box-shadow {
	box-shadow: 0 0 0 1px rgba(89, 105, 128, 0.1), 0 1px 3px 0 rgba(89, 105, 128, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.box-shadow-subtle {
	box-shadow: 0 1px 3px rgba(0,0,0,.075);
}

/***********
	Position
***********/
.fixed {
	position: fixed;
}

.absolute {
	position: absolute;
}

.relative {
	position: relative;
}

.static {
	position: static;
}

.sticky {
	position: sticky;
}

/***********
	Display
***********/
.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.inline {
	display: inline;
}

.display-table {
	display: table;
}

.hidden {
	display: none;
}

/***********
	Visibility
***********/
.visible {
	visibility: visible;
}

.invisible {
	visibility: hidden;
}

/***********
	Font weight
***********/
.bold {
	font-weight: bold;
}

.font-weight-normal {
	font-weight: normal;
}

/***********
	Font size
***********/
.small {
	font-size: 85%;
}

/***********
	Text decoration
***********/
.underline {
	text-decoration: underline;
}

.no-decoration {
	text-decoration: none;
}

/***********
	Text transform
***********/
.uppercase {
	text-transform: uppercase;
}

.lowercase {
	text-transform: lowercase;
}

.capitalize {
	text-transform: capitalize;
}

/***********
	Line height
***********/
.line-height-normal {
	line-height: normal;
}

.line-height-1p5 {
	line-height: 1.5;
}

/***********
	Layout
***********/

.centred {
	margin-left: auto;
	margin-right: auto;
}

/***********
	Widths
***********/

.width-1 {
	width: 4rem;
}

.width-2 {
	width: 8rem;
}

.width-3 {
	width: 16rem;
}

.width-4 {
	width: 32rem;
}

.width-5 {
	width: 64rem;
}

.width-6 {
	width: 128rem;
}

.max-width-1 {
	max-width: 4rem;
}

.max-width-2 {
	max-width: 8rem;
}

.max-width-3 {
	max-width: 16rem;
}

.max-width-4 {
	max-width: 32rem;
}

.max-width-5 {
	max-width: 64rem;
}

.max-width-6 {
	max-width: 128rem;
}

/***********
	Children
***********/
.first-child-flush-left .child:first-child {
	margin-left: 0;
}

.first-child-flush-right .child:first-child {
	margin-right: 0;
}

/***********
	Spacing
***********/

/*
	Spacing is based on base font size (16px).
	It starts at 16px (1rem), and increments in powers of 2.
	I.e., base spacing pa [=padding-all] would equal padding: 16px;
	pa2 [=padding-all-2] would equal padding: 32px;
	pa3 [=padding-all-3] would equal padding: 64px;
	pa-small and pa-medium are special cases and have padding equal to .25rem (4px) and .5rem (8px) respectively.
	Margin follows the same pattern.
*/

/***********
	Padding
***********/

.padding-all-small {
	padding-left: .25rem;
	padding-bottom: .25rem;
	padding-right: .25rem;
	padding-top: .25rem;
}

.padding-left-small {
	padding-left: .25rem;
}

.padding-bottom-small {
	padding-bottom: .25rem;
}

.padding-right-small {
	padding-right: .25rem;
}

.padding-top-small {
	padding-top: .25rem;
}

.padding-vertical-small {
	padding-bottom: .25rem;
	padding-top: .25rem;
}

.padding-horizontal-small {
	padding-left: .25rem;
	padding-right: .25rem;
}

.padding-all-medium {
	padding-left: .5rem;
	padding-bottom: .5rem;
	padding-right: .5rem;
	padding-top: .5rem;
}

.padding-left-medium {
	padding-left: .5rem;
}

.padding-bottom-medium {
	padding-bottom: .5rem;
}

.padding-right-medium {
	padding-right: .5rem;
}

.padding-top-medium {
	padding-top: .5rem;
}

.padding-vertical-medium {
	padding-bottom: .5rem;
	padding-top: .5rem;
}

.padding-horizontal-medium {
	padding-left: .5rem;
	padding-right: .5rem;
}

.padding-all {
	padding-left: 1rem;
	padding-bottom: 1rem;
	padding-right: 1rem;
	padding-top: 1rem;
}

.padding-vertical {
	padding-bottom: 1rem;
	padding-top: 1rem;
}

.padding-horizontal {
	padding-left: 1rem;
	padding-right: 1rem;
}

.padding-left {
	padding-left: 1rem;
}

.padding-bottom {
	padding-bottom: 1rem;
}

.padding-right {
	padding-right: 1rem;
}

.padding-top {
	padding-top: 1rem;
}

.padding-all-2 {
	padding-left: 2rem;
	padding-bottom: 2rem;
	padding-right: 2rem;
	padding-top: 2rem;
}

.padding-left-2 {
	padding-left: 2rem;
}

.padding-bottom-2 {
	padding-bottom: 2rem;
}

.padding-right-2 {
	padding-right: 2rem;
}

.padding-top-2 {
	padding-top: 2rem;
}

.padding-vertical-2 {
	padding-bottom: 2rem;
	padding-top: 2rem;
}

.padding-horizontal-2 {
	padding-left: 2rem;
	padding-right: 2rem;
}

.padding-all-3 {
	padding-left: 4rem;
	padding-bottom: 4rem;
	padding-right: 4rem;
	padding-top: 4rem;
}

.padding-left-3 {
	padding-left: 4rem;
}

.padding-bottom-3 {
	padding-bottom: 4rem;
}

.padding-right-3 {
	padding-right: 4rem;
}

.padding-top-3 {
	padding-top: 4rem;
}

.padding-vertical-3 {
	padding-bottom: 4rem;
	padding-top: 4rem;
}

.padding-horizontal-3 {
	padding-left: 4rem;
	padding-right: 4rem;
}

/***********
	Margin
***********/

.margin-all-small {
	margin-left: .25rem;
	margin-bottom: .25rem;
	margin-right: .25rem;
	margin-top: .25rem;
}

.margin-left-small {
	margin-left: .25rem;
}

.margin-bottom-small {
	margin-bottom: .25rem;
}

.margin-right-small {
	margin-right: .25rem;
}

.margin-top-small {
	margin-top: .25rem;
}

.margin-vertical-small {
	margin-bottom: .25rem;
	margin-top: .25rem;
}

.margin-horizontal-small {
	margin-left: .25rem;
	margin-right: .25rem;
}

.margin-all-medium {
	margin-left: .5rem;
	margin-bottom: .5rem;
	margin-right: .5rem;
	margin-top: .5rem;
}

.margin-left-medium {
	margin-left: .5rem;
}

.margin-bottom-medium {
	margin-bottom: .5rem;
}

.margin-right-medium {
	margin-right: .5rem;
}

.margin-top-medium {
	margin-top: .5rem;
}

.margin-vertical-medium {
	margin-bottom: .5rem;
	margin-top: .5rem;
}

.margin-horizontal-medium {
	margin-left: .5rem;
	margin-right: .5rem;
}

.margin-all {
	margin-left: 1rem;
	margin-bottom: 1rem;
	margin-right: 1rem;
	margin-top: 1rem;
}

.margin-vertical {
	margin-bottom: 1rem;
	margin-top: 1rem;
}

.margin-horizontal {
	margin-left: 1rem;
	margin-right: 1rem;
}

.margin-left {
	margin-left: 1rem;
}

.margin-bottom {
	margin-bottom: 1rem;
}

.margin-right {
	margin-right: 1rem;
}

.margin-top {
	margin-top: 1rem;
}

.margin-all-2 {
	margin-left: 2rem;
	margin-bottom: 2rem;
	margin-right: 2rem;
	margin-top: 2rem;
}

.margin-left-2 {
	margin-left: 2rem;
}

.margin-bottom-2 {
	margin-bottom: 2rem;
}

.margin-right-2 {
	margin-right: 2rem;
}

.margin-top-2 {
	margin-top: 2rem;
}

.margin-vertical-2 {
	margin-bottom: 2rem;
	margin-top: 2rem;
}

.margin-horizontal-2 {
	margin-left: 2rem;
	margin-right: 2rem;
}

.margin-all-3 {
	margin-left: 4rem;
	margin-bottom: 4rem;
	margin-right: 4rem;
	margin-top: 4rem;
}

.margin-left-3 {
	margin-left: 4rem;
}

.margin-bottom-3 {
	margin-bottom: 4rem;
}

.margin-right-3 {
	margin-right: 4rem;
}

.margin-top-3 {
	margin-top: 4rem;
}

.margin-vertical-3 {
	margin-bottom: 4rem;
	margin-top: 4rem;
}

.margin-horizontal-3 {
	margin-left: 4rem;
	margin-right: 4rem;
}